html,
body,
div#__next {
  height: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:focus {
  @apply outline-none;
}

.main-padding-x {
  @apply px-3;
}

.main-padding {
  @apply px-3 py-6;
}

.inner {
  @apply max-w-screen-xxl px-3 py-6 mx-auto;
}

.collapsible {
  overflow: hidden;
  transition: height 0.3s ease-out;
  height: auto;
}

.collapsible[data-collapsed='true'] {
  height: 0;
}

@screen md {
  .main-padding {
    @apply px-8 py-12;
  }

  .main-padding-x {
    @apply px-8;
  }

  .inner {
    @apply px-8 py-12;
  }
}

/* Slider overrides */
.slider .slide {
  background: transparent !important;
}

/* Timeline overrideds */
.events-wrapper {
  /* overflow: visible !important; */
}

.timeline .buttons svg:not(:hover) {
  fill: rgb(223, 223, 223) !important;
}
