:root {
  --primary-1-white: #ffffff;
  --primary-1-tint: #cbcbcb;
  --primary-1-shade: #292929;
  --primary-2-navy: #212353;
  --primary-2-tint: #797a92;
  --primary-2-shade: #00034f;
  --accent-orange: #ff882c;
  --accent-tint: #ffb881;
  --primary-3: #10828c;
  --primary-3-shade: #199fb2;
  --primary-3-turq: #39bacd;
  --primary-3-tint: #a2c7cc;
  --error: #eb5757;
  --accent-shade: #ff6f00;
}

@import 'tailwindcss/base';
@import './form.css';

html {
  font-family: 'Avenir', 'system-ui', '-apple-system', 'Segoe UI', 'Roboto', 'Ubuntu', 'Cantarell', 'Noto Sans',
    'sans-serif';
}

html,
body,
div#__next {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica', 'system-ui', '-apple-system', 'Segoe UI', 'Roboto', 'Ubuntu', 'Cantarell', 'Noto Sans',
    'sans-serif';
  @apply text-primary-2-shade;
}

h1 {
  @apply text-7xl;
}
h2 {
  @apply text-5xl;
}
h3 {
  @apply text-4xl;
}
h4 {
  @apply text-3xl;
}
h5 {
  @apply text-xl;
}
h6 {
  @apply text-lg;
}

button:focus {
  @apply outline-none;
}

.main-padding {
  @apply px-4 py-6;
}

@screen md {
  .main-padding {
    @apply px-8 py-12;
  }
}

/** Cols & Gradients **/
.bg-gradient-to-primary-3-shade {
  background-image: linear-gradient(to right, #58cadb, var(--primary-3-shade));
}

/** Forms **/
input:focus-within:not([type='radio']) ~ label,
input:not(:placeholder-shown):not([type='radio']) ~ label {
  @apply transform scale-75 -translate-y-6 duration-300;
}

input:focus-within:not([type='radio']) ~ label {
  @apply text-accent-shade font-bold;
}

.outline input:focus-within ~ label,
.outline input:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-3 z-0 ml-3 px-1 py-0;
}

/** Radio btn **/
input[type='radio'] + label span {
  transition: background 0.2s, transform 0.2s;
}

input[type='radio'] + label span:hover,
input[type='radio'] + label:hover span {
  transform: scale(1.15);
}

input[type='radio']:checked + label span {
  background-color: var(--accent-shade);
  border-color: var(--accent-shade);
  box-shadow: 0px 0px 0px 4px white inset;
}

input[type='radio']:checked + label {
  color: var(--accent-shade);
}

input[type='radio'] {
  border: 0px;
  width: 100%;
  height: 2em;
}

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
