html,
body,
#root {
  height: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-content {
  @apply flex-1 p-8;

  @screen md {
    @apply p-4;
  }
}

button:focus {
  @apply outline-none;
}

.underlined-link {
  @apply underline text-primary-3-shade text-sm;
}

.underlined-link:hover {
  @apply filter-darken-80;
}
