.border-space-0-16 {
  border-spacing: 0 4rem;
}

.border-space-0-14 {
  border-spacing: 0 3.5rem;
}

.border-space-0-12 {
  border-spacing: 0 3rem;
}

@layer utilities {
  @variants hover, focus {
    .filter-darken-20 {
      filter: brightness(20%);
    }
    .filter-darken-40 {
      filter: brightness(40%);
    }
    .filter-darken-60 {
      filter: brightness(60%);
    }
    .filter-darken-80 {
      filter: brightness(80%);
    }
  }
}
